<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p class="text-right">Created by {{user.username}} on {{format_date date_created}}</p>
</div>
{{#if my_blog}}
<div class="text-right">
  <button class="edit-blog-btn">Edit This Blog</button>
</div>
{{/if}}
<div>
  <form class="form" id="edit-blog-reveal-btn">
    <h4>Edit your blog:</h4>
    <div class="form-group">
      <input class="form-input"
              type="text"
              id="edit-blog-title"
              name="blog-title"
              value="{{title}}"/>
    </div>
    <div class="form-group">
      <textarea class="form-input"
                id="edit-blog-body"
                name="blog-body"
                >{{body}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary submit-update-blog-btn">Update Your Blog</button>
    </div>
  </form>
</div>
<div class="my-3">
  <h4>Add a comment:</h4>
  <form class="form new-comment-form">
    <div class="form-group">
      <input class="form-input"
             type="text"
             id="comment-title"
             name="comment-title"
             placeholder="Comment Title"/>
    </div>
    <div class="form-group">
      <textarea class="form-input"
                id="comment-body"
                name="comment-body"
                placeholder="Type your comment here!"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary add-comment-btn">Add Your Comment</button>
    </div>
  </form>
</div>
{{#each comments as |comment|}}
<div class="ml-3 comment" data-comment-id="{{comment.id}}">
  <h4>{{comment.title}}</h4>
  <p>{{comment.body}}</p>
  <p>Commented by {{comment.user.username}} on {{format_date comment.date_created}}</p>
  <div class="my-3">
    <form class="form edit-comment-form" id="edit-comment-form-{{comment.id}}">
      <h4>Edit your comment:</h4>
      <div class="form-group">
        <input class="form-input"
               type="text"
               id="edit-comment-title-{{comment.id}}"
               name="comment-title"
               value="{{comment.title}}"/>
      </div>
      <div class="form-group">
        <textarea class="form-input"
                  id="edit-comment-body-{{comment.id}}"
                  name="comment-body"
                  >{{comment.body}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary submit-update-btn" data-id="{{comment.id}}">Update Your Comment</button>
      </div>
    </form>
  </div>
  {{#if comment.is_my_comment}}
    <p>
      <span>
        <button class="btn btn-sm btn-warning edit-btn" data-id="{{comment.id}}">EDIT</button>
      </span>
      <span>
        <button class="btn btn-sm btn-danger delete-btn" data-id="{{comment.id}}">DELETE</button>
      </span>
    </p>
  {{/if}}
</div>
{{/each}}
<script src="/js/blog.js"></script>